@font-face {
  font-family: 'San Francisco';
  src: url('/src/assets/SF-Pro-Display-Regular.otf') format('opentype');
}

body {
  font-family: 'San Francisco', sans-serif;}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(#0E64C1, #2796E6);
  padding-top: 40px;
  text-align: center;
overflow: auto
};

.copy-icon {
  position: absolute;
  top: 10px; /* adjust as needed */
  right: 10px; /* adjust as needed */
  cursor: pointer;
  font-size: 20px; /* adjust as needed */
  padding-right: 40px;
}


.app-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.spotlight__input {
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 16px;
  padding-left: 15px;
  flex-grow: 1; /* Make the input take all available space */
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: auto; /* Remove fixed width */
  border-radius: 5px;
  font-family: 'San Francisco', sans-serif;
}

.enter {
  height: 30px;
  width: 30px;
  margin-left: 15px; /* Add margin to separate the icon from the input */
}

.bot-avatar {
  width: 40px; /* adjust as needed */
  height: 40px; /* adjust as needed */
  margin-right: 10px;
  float: left;
}


.bot-message {
  text-align: left;
  background-color: #c6e1ff;
  position: relative; /* Make the bot-message a relative container */
  display: flex; /* Add flex to align children horizontally */
  justify-content: space-between; /* Align children vertically in the center */
}

.h3 {
  color: white;
  font-weight: 300;
  font-size: 0.65em;
  width: 85%;
  /* margin-bottom: 10px; */
  text-align: left;
  font-family: 'San Francisco', sans-serif;
}

.h1 {
  color: white;
  margin-bottom: 0px;
  font-family: 'San Francisco', sans-serif;
  font-size: 2.2em;
}

.h2 {
  color: white;
  font-weight: 300;
  font-size: 1em;
  /* margin-bottom: 20px; */
  font-family: 'San Francisco', sans-serif;
}

.chat-window {
  background-color: transparent;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.conversation {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: 450px; /* Set this to your preferred height */
  background-color: transparent;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;

}

.user-message {
  text-align: right;
  background-color: #fff;
}

.input-area {
  position: relative;
  border-radius: 10px;
  padding-left: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
bottom: 30px;
width: 90%;
position: fixed;
}

.bot-message {
  text-align: left;
  background-color: #c6e1ff;
  position: relative; /* Make the bot-message a relative container */
  display: flex; /* Add flex to align children horizontally */
  align-items: center; /* Align children vertically in the center */
}


.input {
  border: none;
  flex-grow: 1;
  padding-right: 30px; /* Enough space for the image */
  /* width: 100%; */
height: 60px;
  border-radius: 10px;
  padding-left: 10px;
}

.send-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.input:focus {
  outline: none;
}

.send-icon:hover {
  opacity: 0.2;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
