.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(#0E64C1, #2796E6);
  padding-top: 40px;
  text-align: center;

};

.app-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.spotlight__input {
  display: flex;
  flex-direction: row;
  width: 70%;
  border-radius: 10px;
  color: #000;
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 3.5%;
  font-size: 16px;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.spotlight__answer {
  min-height: 115px;
  padding: 10px 30px;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  margin-bottom: 40px;
}
.spotlight__input::placeholder {
  line-height: 1.5em;
}

.h3 {
  color: white;
}

.h1 {
  color: white;
}

.h2 {
  color: white;
}


@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
